body,ul,li,a{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.container{
    width: 100%;
}
.logo{
    width: 1000px;
    height: 40px;
    margin: 0 auto;
    line-height: 40px;
}
.logo_left{
    float: left;
}
.logo_left>img{
  padding: 10px 0 0 5px;
}
.logo_left span{
    font-weight: bold;
}
.logo_right{
    float: right;
    color: #666666;
}
.header{
    width: 100%;
    background: #1d7ad9;
}
.header_inner{
    width: 1000px;
    margin: 0 auto;
}
.header_left{
    float: left;
}
.header_right{
    float: left;
    padding: 23px 0 0 220px;
}
.header_left p{
   color: white;
    font-size: 25px;
    padding-left: 30px;
}
.header_right input:nth-child(1){
    width: 300px;
    height: 35px;
    border: none;
}
.header_right input:nth-child(2){
    width: 50px;
    height: 37px;
    padding-bottom: 4px;
    background: #ff8c00;
    border: none;
    color: white;
}
.gwc{
    width: 200px;
    height: 37px;
    float: right;
    background: #ff8c00;
    color: white;
    margin: 0 0 0 50px;
}
.gwc img:nth-child(1){
    padding: 6px 15px 0 15px;
}
.gwc img:nth-child(2){
    padding: 0px 0 0 15px;
}
/*nav*/
.nav{
    width: 100%;
    overflow: hidden;
    background: #1369c0;
}
.nav ul{
    width: 1000px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
}
.nav ul li{
    float: left;
    margin: 0px 40px 0 30px;
}
.nav ul li a{
    color: white;
}
/* main */
.main{
    width: 100%;
    padding-top: 15px;
    background: white;
}
.main .container{
    width: 1000px;
    margin: 0 auto;
    background: white;
}
/* container_left */
.container_left{
    width: 180px;
    float: left;
    border: 1px solid #cdcdcd;
    background: #f3f3f3;
}
.container_left h3{
    height: 30px;
    line-height: 6px;
    text-align: center;
    color: #555555;
    border-bottom: 1px solid #cdcdcd;
}
.container_left ul{
    width: 180px;
}
.container_left ul p{
    color: #555555;
    margin: 0 0 10px 8px;
    font-weight: bold;
}
.container_left ul a{
    color: #555555;
    text-align: center;
}
.container_left ul li{
    margin: 0 0 0 15px;
    line-height: 35px;
}
.container .phone{
    width: 180px;
    float: left;
    background: #fefefe;
    overflow: hidden;
    padding: 20px 0 0 0;
    /* margin: 0 0 20px 0; */
    border-right: 1px solid #cdcdcd;
}
.container .phone_left{
    float: left;
}
.container .phone_right{
    float: left;
    width: 115px;
}
.container .phone .phone_right span{
    display: inline-block;
    color: #999999;
    font-size: 13px;
}
.container .phone .phone_right span:nth-child(2){
    color: #666666;
}
/* container_right */
.container_right{
    float: left;
}
.container_right .content{
    width: 798px;
    height: 50px;
    margin: 0 0 0 20px;
    border-bottom: 1px solid #d9d9d9;
}
.container_right .content ul li{
    float: left;
    margin: 10px 27px;
}
.container_right .content li{
    color: #1d7ad9;
}
.container_right .content li:nth-child(1){
    color: #999999;
}
.container_right .content li input{
    width: 90px;
    height: 25px;
    padding-left: 5px;
}
.content_nav{
    width: 796px;
    height: 50px;
    overflow: hidden;
    background: #f5f5f5;
    margin: 15px auto 15px 20px;
    border: 1px solid #d9d9d9;
}
.content_nav .content_nav_left{
    float: left;
}
.content_nav .content_nav_left span{
    border: 1px solid #bfbfbf;
    background: white;
    padding: 5px 18px 5px 10px;
}
.content_nav .content_nav_left p{
    margin-left: 10px;
}
.content_nav .content_nav_left p img{
    position: relative;
    left: -21px;
    top: -3px;
}
.content_nav .content_nav_right{
    float: right;
    padding: 0 20px 0 0;
}
.content_nav .content_nav_right p img{
    vertical-align: middle;
}
.content_nav .content_nav_right span{
    color: #df5400;
}
.content_center{
    width: 798px;
    overflow: hidden;
}
.content_center .main_inner{
    overflow: hidden;
    margin-bottom: 50px;
}
.content_center .product{
    width: 240px;
    height: 350px;
    padding: 15px 0 0 10px;
    margin: 0 3px 0 13px;
}
.content_center li{
    float: left;
}
.content_center .product p{
    font-size: 14px;
}
.content_center .product img{
    margin-left: 75px;
}
.content_center .product span{
    color: #d70000;
}
.content_center .product .addgwc{
    width: 110px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #c3d5e7;
    color: #377abe;
}
.content_bottom{
    width: 979px;
    height: 50px;
    clear: both;
    margin: 0px 0 20px 0;
    border-bottom: 1px solid #d9d9d9;
}
.content_bottom li{
    float: left;
    width: 35px;
    height: 27px;
    text-align: center;
    line-height: 27px;
    color: #999999;
    border: 1px solid #c9c9c9;
    margin: 0 5px;
}
.content_bottom ul{
    margin-left: 128px;
}
.content_bottom li:nth-child(1){
    width: 60px;
}
.content_bottom li:nth-child(2){
    background: #2266bb;
    color: white;
}
/* footer */
.container .footer{
    width: 100%;
    height: 200px;
    line-height: 30px;
    background: #d4d4d4;
    margin: 50px auto 20px auto;
    text-align: center;
}
.container .footer p:nth-child(1){
    padding-top: 30px;
}

